.member_container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  // height: 90vh; //高度先不寫

  .member_main {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    // border: 3px solid red;
    padding: 20px;
    width: 80%;
    margin: 0 auto; //這個是只有一個div讓他整個置中到父層的置中寫法
    box-shadow: 0 0 100px orange;
    .main_top {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        cursor: pointer;
        li {
          padding: 20px 50px;
          background: whitesmoke;
          color: black;
          border-radius: 10px;
          &:hover {
            transform: scale(1.1);
            background-color: rgb(204, 18, 52);
            color: whitesmoke;
          }
        }
      }
    }
    .main_mid {
      border-bottom: 1px solid gray;
      h2 {
        border-bottom: 1px solid gray;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
      }
      // width: 80%;
      // height: 30vh;
      .main_mid_content {
        display: flex;
        justify-content: center;
        align-items: start;
        .left {
          flex: 1 1 60%;
          h4 {
            padding-left: 25px;
            padding-bottom: 18px;
            font-size: 20px;
          }
          p {
            margin: 0;
            padding-left: 25px;
            padding-bottom: 50px;
          }
          input[type="submit"] {
            margin-left: 25px;
            width: 200px;
          }
        }
        .right {
          flex: 1 1 40%;
          h4 {
            font-size: 20px;
          }
        }
      }
    }
    .main_bottom {
      h4 {
        padding-left: 25px;
      }
      .main_bottom_content {
        justify-content: center;
        align-items: start;
        display: flex;
        .bottom_left {
          flex: 1 1 60%;
          p {
            padding-left: 25px;
          }
        }
        .bottom_right {
          flex: 1 1 40%;
          padding-left: 20px;
          P {
            font-size: 20px;
            margin-bottom: 21px;
          }
          .member_line {
            padding: 0px 20px;
            background-color: rgb(25, 188, 5);
            &:hover {
              color: #f2f2f2;
            }
          }
          .member_fb {
            padding: 0px 20px;
            background-color: rgb(10, 57, 242);
            &:hover {
              color: #f2f2f2;
            }
          }
        }
      }
    }
    .main_news {
      height: 200px;
      overflow-y: scroll;

      table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
          border: 1px solid black;
          padding: 8px;
          text-align: center;
        }

        th {
          background-color: lightgray;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
        tr:nth-child(odd) {
          background-color: white;
        }
      }
    }
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: grey;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: orange;
    }
  }
}
