@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
}
body img.fixed-image {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -5;
}
body header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 6px -6px #777;
}
body header .header-loge {
  flex-wrap: wrap;
  display: flex;
  flex: 1 1 100px;
  align-items: center;
  justify-content: space-around;
}
body header .header-loge img {
  width: 100px;
  height: 100px;
}
body header .header-loge h1 a {
  color: black;
  text-decoration: none;
}
body header .header-loge h1 a:hover {
  color: red;
  transform: scale(1.2);
}
body header .header-nav {
  flex-wrap: wrap;
  flex: 2 1 500px;
}
body header .header-nav .header_nav_high {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  margin: 10px;
  margin-bottom: 25px;
}
body header .header-nav .header_nav_high a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
  cursor: pointer;
}
body header .header-nav .header_nav_high a:hover {
  color: red;
  border-bottom: 2px solid;
}
body header .header-nav .header_nav_high .header_nav_search {
  cursor: pointer;
}
body header .header-nav .header_nav_low {
  flex-wrap: wrap;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-evenly;
}
body header .header-nav .header_nav_low .dropdwon {
  border: 2px solid red;
}
body header .header-nav .header_nav_low .dropdwon .dropbtn {
  border: 2px solid lawngreen;
}
body header .header-nav .header_nav_low .dropdwon .dropbtn_content {
  border: 2px solid rgb(63, 0, 252);
}
body main {
  min-height: 200vh;
}
body main div.background_img {
  min-height: 70vh;
  background-image: url(../第一次專題/images/swiper_101.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
body main div.background_img div.filter {
  width: 100%;
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
}
body main div.background_img h2 {
  color: aliceblue;
  text-align: center;
  font-size: 2.5rem;
}
body main div.mid_text {
  background-color: whitesmoke;
  margin-top: 25px;
}
body main div.mid_text h2 {
  margin: 0px;
  color: black;
  text-align: center;
}
body main div.mid_img {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
}
body main div.mid_img .box {
  position: relative;
  width: 1000%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.mid_img .list {
  left: 0px;
  display: flex;
  position: absolute;
}
body main div.mid_img .photo {
  width: 200px;
  height: 200px;
  margin-left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.big_img {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  min-height: 70vh;
  display: flex;
  margin-top: 125px;
}
body main div.big_img .big_img_left {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.big_img .big_img_left .big_img_form {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 75%;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0 0 30px;
}
body main div.big_img .big_img_left .big_img_form h3 {
  text-align: center;
}
body main div.big_img .big_img_left .big_img_form .form1 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
body main div.big_img .big_img_left .big_img_form .form1 input {
  border: 0;
  padding-right: 20px;
  margin-right: 50px;
}
body main div.big_img .big_img_left .big_img_form .form2 {
  margin-left: 14.5px;
  margin-bottom: 5px;
}
body main div.big_img .big_img_left .big_img_form .form3 {
  margin-left: 14.5px;
  margin-bottom: 15px;
}
body main div.big_img .big_img_left .big_img_form .form4 {
  margin-left: 14.5px;
  margin-bottom: 5px;
}
body main div.big_img .big_img_left .big_img_form .form5 {
  margin-left: 14.5px;
  margin-bottom: 13px;
  display: flex;
}
body main div.big_img .big_img_left .big_img_form .form6 {
  display: flex;
  justify-content: center;
}
body main div.big_img .big_img_left .big_img_form .form6 input[type=submit] {
  color: black;
  width: 50%;
  border-radius: 5px;
}
body main div.big_img .big_img_left .big_img_form .form6 input[type=submit]:hover {
  color: red;
  transform: scale(1.1);
}
body main div.big_img .big_img_left .big_img_form .form7 {
  display: flex;
  justify-content: center;
}
body main div.big_img .big_img_right {
  width: 100%;
  flex: 1 1 40%;
  display: flex;
  cursor: pointer;
}
body main div.big_img .big_img_right .big_img_right1,
body main div.big_img .big_img_right .big_img_right2 {
  flex: 1 1 50%;
  min-height: 84px;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 {
  margin: 20px 10px;
  display: flex;
  border: 2px solid black;
  align-items: center;
  background: white;
  box-shadow: 30px;
  border-radius: 10px;
  min-height: 84px;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1:hover,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1:hover {
  background-color: gold;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1 .right1_1_content,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 .right1_1_content {
  display: flex;
  flex: 1 1 80%;
  flex-wrap: wrap;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1 .right1_1_content .content_child,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 .right1_1_content .content_child {
  margin-right: 5px;
  background-color: red;
  color: white;
  font-size: 15px;
  border-radius: 6px;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1 .right1_1_content .content_new,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 .right1_1_content .content_new {
  background-color: orange;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1 .right1_1_content p,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 .right1_1_content p {
  color: black;
  font-size: 14px;
  line-height: 14px;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1 .right1_1_content p:hover,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 .right1_1_content p:hover {
  color: purple;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1 .right1_1_money,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 .right1_1_money {
  flex: 1 1 20%;
}
body main div.big_img .big_img_right .big_img_right1 .img_right1_1 .right1_1_money p,
body main div.big_img .big_img_right .big_img_right2 .img_right1_1 .right1_1_money p {
  color: red;
  font-size: 12px;
}
body main div.big_img .big_img_right .big_img_right2 {
  flex: 1 1 50%;
}
body footer {
  width: 100vw;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.8);
}
body footer .footer_contact {
  position: relative;
  left: 10px;
  top: 40px;
  height: 25vh;
  display: flex;
  justify-content: space-around;
}
body footer .footer_contact .footer_contact_img {
  width: 30vh;
  border-right: 1px solid #ddd;
}
body footer .footer_contact .footer_left {
  color: aliceblue;
  height: 10vh;
}
body footer .footer_contact .footer_left h4 {
  font-size: 14px;
  margin-right: 60px;
}
body footer .footer_contact .footer_mid {
  color: aliceblue;
  height: 10vh;
}
body footer .footer_contact .footer_mid h4 {
  font-size: 14px;
  margin-top: 5px;
}
body footer .footer_contact .footer_mid h4 a {
  color: aliceblue;
  text-decoration: none;
}
body footer .footer_contact .footer_mid h4 a:hover {
  color: red;
}
body footer .footer_contact .footer_right {
  color: aliceblue;
  height: 10vh;
}
body footer .footer_contact .footer_right h4 {
  margin-top: 5px;
  font-size: 14px;
}
body footer .footer_contact .footer_right h4 a {
  color: aliceblue;
  text-decoration: none;
}
body footer .footer_contact .footer_right h4 a:hover {
  color: red;
}
body footer .footer_icon {
  height: 10vh;
  display: flex;
  justify-content: center;
}
body footer .footer_icon .icon {
  margin-top: 40px;
}
body footer .footer_icon .icon img {
  margin: 0 18px;
  width: 2.7vw;
}
body p {
  color: aliceblue;
  font-size: 12px;
}

.register_main {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
}
.register_main .vwrap,
.register_main .vitem {
  height: 80px;
}
.register_main .vwrap {
  overflow: hidden;
}
.register_main .vitem {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.register_main .vmove {
  position: relative;
  bottom: 0;
}
@keyframes tickerv {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 400%;
  }
}
.register_main .vmove {
  animation: tickerv linear 12s infinite;
}
.register_main .vmove:hover {
  animation-play-state: paused;
}
.register_main div.filter {
  width: 100%;
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
}
.register_main body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}
.register_main .clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.register_main .form_wrapper {
  background: #fff;
  width: 550px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px auto 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid #f5ba1a;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.register_main .form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.register_main .form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}
.register_main .form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.register_main .form_wrapper .row {
  margin: 10px -15px;
}
.register_main .form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.register_main .form_wrapper .col_half {
  width: 50%;
  float: left;
}
.register_main .form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
}
.register_main .form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  width: 30px;
}
.register_main .form_wrapper .input_field > span > i {
  padding-top: 10px;
}
.register_main .form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}
.register_main .form_wrapper input[type=text] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.register_main .form_wrapper input[type=text]:focus {
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
}
.register_main .form_wrapper input[type=email] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.register_main .form_wrapper input[type=email]:focus {
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
}
.register_main .form_wrapper input[type=password] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.register_main .form_wrapper input[type=password]:focus {
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
}
.register_main .form_wrapper input[type=submit] {
  background: #f5ba1a;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.register_main .form_wrapper input[type=submit]:hover {
  background: #e1a70a;
}
.register_main .form_wrapper input[type=submit]:focus {
  background: #e1a70a;
}
.register_main .form_wrapper input[type=checkbox] {
  margin-right: 2px;
}
.register_main .form_container .row .col_half.last {
  border-left: 1px solid #ccc;
}
.register_main .remember_me {
  display: flex;
}
.register_main .forgot_pw {
  text-align: right;
}
.register_main .social_btn {
  width: 100%;
  margin-bottom: 20px;
  font-size: 15px;
}
.register_main .social_btn a {
  align-items: center;
  color: #fff;
  display: flex;
  height: 35px;
  text-decoration: none;
}
.register_main .social_btn a span {
  align-items: center;
  align-self: stretch;
  display: flex;
  font-size: 17px;
  justify-content: center;
  margin-right: 10px;
  text-align: center;
  width: 35px;
}
.register_main .social_btn.fb {
  background: #3b5ca1;
}
.register_main .social_btn.fb span {
  background: #314d87;
}
.register_main .social_btn.tw {
  background: #45b0e4;
}
.register_main .social_btn.tw span {
  background: #26a3df;
}
.register_main .social_btn.gplus {
  background: #de4c33;
}
.register_main .social_btn.gplus span {
  background: #cc3a21;
}
.register_main .create_account a {
  color: #e1a70a;
  text-decoration: none;
  font-weight: bold;
}
.register_main .bottom_row {
  font-size: 0.7em;
  color: #ababab;
}
.register_main .bottom_row a {
  text-decoration: none;
  color: #ababab;
}
.register_main .credit {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 15px;
  color: #f5ba1a;
}
.register_main .credit a {
  color: #e1a70a;
}
@media (max-width: 600px) {
  .register_main .form_wrapper .col_half {
    width: 100%;
    float: none;
  }
  .register_main .bottom_row .col_half {
    width: 50%;
    float: left;
  }
  .register_main .form_container .row .col_half.last {
    border-left: none;
  }
  .register_main .remember_me {
    padding-bottom: 20px;
  }
}

.member_container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}
.member_container .member_main {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 100px orange;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.member_container .member_main .main_top ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  cursor: pointer;
}
.member_container .member_main .main_top ul li {
  padding: 20px 50px;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
}
.member_container .member_main .main_top ul li:hover {
  transform: scale(1.1);
  background-color: rgb(204, 18, 52);
  color: whitesmoke;
}
.member_container .member_main .main_mid {
  border-bottom: 1px solid gray;
}
.member_container .member_main .main_mid h2 {
  border-bottom: 1px solid gray;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}
.member_container .member_main .main_mid .main_mid_content {
  display: flex;
  justify-content: center;
  align-items: start;
}
.member_container .member_main .main_mid .main_mid_content .left {
  flex: 1 1 60%;
}
.member_container .member_main .main_mid .main_mid_content .left h4 {
  padding-left: 25px;
  padding-bottom: 18px;
  font-size: 20px;
}
.member_container .member_main .main_mid .main_mid_content .left p {
  margin: 0;
  padding-left: 25px;
  padding-bottom: 50px;
}
.member_container .member_main .main_mid .main_mid_content .left input[type=submit] {
  margin-left: 25px;
  width: 200px;
}
.member_container .member_main .main_mid .main_mid_content .right {
  flex: 1 1 40%;
}
.member_container .member_main .main_mid .main_mid_content .right h4 {
  font-size: 20px;
}
.member_container .member_main .main_bottom h4 {
  padding-left: 25px;
}
.member_container .member_main .main_bottom .main_bottom_content {
  justify-content: center;
  align-items: start;
  display: flex;
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_left {
  flex: 1 1 60%;
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_left p {
  padding-left: 25px;
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_right {
  flex: 1 1 40%;
  padding-left: 20px;
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_right P {
  font-size: 20px;
  margin-bottom: 21px;
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_right .member_line {
  padding: 0px 20px;
  background-color: rgb(25, 188, 5);
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_right .member_line:hover {
  color: #f2f2f2;
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_right .member_fb {
  padding: 0px 20px;
  background-color: rgb(10, 57, 242);
}
.member_container .member_main .main_bottom .main_bottom_content .bottom_right .member_fb:hover {
  color: #f2f2f2;
}
.member_container .member_main .main_news {
  height: 200px;
  overflow-y: scroll;
}
.member_container .member_main .main_news table {
  width: 100%;
  border-collapse: collapse;
}
.member_container .member_main .main_news table th,
.member_container .member_main .main_news table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.member_container .member_main .main_news table th {
  background-color: lightgray;
}
.member_container .member_main .main_news table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.member_container .member_main .main_news table tr:nth-child(odd) {
  background-color: white;
}
.member_container .member_main ::-webkit-scrollbar {
  width: 10px;
}
.member_container .member_main ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.member_container .member_main ::-webkit-scrollbar-thumb {
  background: grey;
}
.member_container .member_main ::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.contact_main {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_main .login {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 100px orange;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_main .login .form {
  width: 80%;
  color: aliceblue;
  padding-left: 75px;
}
.contact_main .login .form .contact_form_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_main .login .form .contact_form_content .contact_form_content_left {
  flex: 1 1 50%;
  margin-top: 10px;
}
.contact_main .login .form .contact_form_content .contact_form_content_left .form_group {
  margin-bottom: 20px;
}
.contact_main .login .form .contact_form_content .contact_form_content_left .form_group .form_group_label {
  padding: 2px 5px;
  color: whitesmoke;
}
.contact_main .login .form .contact_form_content .contact_form_content_left .form_group .form_group_label sup {
  color: red;
}
.contact_main .login .form .contact_form_content .contact_form_content_left .form_group .form_group_select {
  padding: 3px 48px;
}
.contact_main .login .form .contact_form_content .contact_form_content_right {
  flex: 1 1 50%;
}
.contact_main .login .form .contact_submit {
  margin-left: 375px;
  margin-top: 25px;
  color: black;
  padding: 0px 60px;
}
.contact_main .login .form .contact_submit:hover {
  color: red;
}

.service_container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.service_container .service_main {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 80%;
  margin: 0 auto;
  padding: 30px 30px;
}
.service_container .service_main h2 {
  background-color: whitesmoke;
  color: black;
  margin-bottom: 40px;
  text-align: center;
}
.service_container .service_main .service_place {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  margin-bottom: 35px;
  cursor: pointer;
}
.service_container .service_main .service_place li {
  background-color: gainsboro;
  margin: 0 10px;
  padding: 2px 10px;
  color: black;
  border-radius: 10px;
}
.service_container .service_main .service_place li:hover {
  background: red;
  color: aliceblue;
}
.service_container .service_main .service_office {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  margin-bottom: 35px;
  cursor: pointer;
}
.service_container .service_main .service_office li {
  font-size: 12px;
  border-right: 1px solid black;
  margin: 0 10px;
  padding: 2px 10px;
  color: black;
}
.service_container .service_main .service_office li:hover {
  color: red;
}
.service_container .service_main .service_content {
  padding: 20px 32px;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
}
.service_container .service_main .service_content:hover {
  background-color: white;
}
.service_container .service_main .service_content_left {
  flex: 1 1 50%;
}
.service_container .service_main .service_content_left p {
  color: black;
}
.service_container .service_main .service_content_left .service_content_left_input {
  display: flex;
  justify-content: center;
}
.service_container .service_main .service_content_left .service_content_left_input input {
  padding: 5px 35px;
  margin-right: 20px;
  font-size: 12px;
  color: aliceblue;
}
.service_container .service_main .service_content_left .service_content_left_input .service_line {
  background-color: rgb(25, 188, 5);
}
.service_container .service_main .service_content_left .service_content_left_input .service_fb {
  background-color: rgb(10, 57, 242);
}
.service_container .service_main .service_content_right {
  flex: 1 1 50%;
}/*# sourceMappingURL=all.css.map */